
#editor {
	height: auto;
	min-height: 200px;
	margin-bottom: 16px;
}
.page-title {
	margin-bottom: 16px;
}
.content{
	width: 100%;
	padding: 0 10px;
	background: #F2F2F2;
}
.sidebar {
	display: flex;
	flex-direction: column;
}
.sidebar .btn {
	margin-bottom: 10px;
}